{% extends 'base.html' %}

{% block content %}

<section class="content container bg-light">
    <div class="row">
      <div class="col-5">

        <form action="" method="post" class="py-3">
            {{ form.hidden_tag() }}
            <div class="form-group">

              {{ form.game_name.label() }}:{{ form.game_name() }}
              <script>
                $(function() {
                  $("#game_autocomplete").autocomplete({
                    source:function(request, response) {
                      $.getJSON("{{url_for('meeting.autocomplete')}}",{
                        q: request.term,
                      }, function(data) {
                        response(data);
                      }); 
                    },
                    minLength: 2,
                    select: function(event, ui) {
                      console.log(ui.item.value);
                    }
                  });
                })
              </script>

              {{ form.meeting_city.label() }}:{{ form.meeting_city() }}
              <script>
                $(function() {
                  $("#city_autocomplete").autocomplete({
                    source:function(request, response) {
                      $.getJSON("{{url_for('location.autocomplete_city')}}",{
                        q: request.term,
                      }, function(data) {
                        response(data);
                      }); 
                    },
                    minLength: 2,
                    select: function(event, ui) {
                      console.log(ui.item.value);
                    }
                  });
                })
              </script>
          {% for field in form if field.name not in ['csrf_token', 'submit', 'game_name', 'meeting_city'] %}
            <div class="form-group">
              {{ field.label() }}
              {{ field() }}
              
                <p class="error text-dark text-center">
                  {% for e in field.errors %}
                    {{ e }}
                  {% endfor %}
                </p>
                
            </div>
            {% endfor %}

          {{ form.submit() }}

        </form>
      
      </div>  
    </div>
</section>
{% endblock content %}   