{% extends 'base.html' %}

{% block content %}

<section class="content container bg-light">
    <div class="row">
      <div class="col-5">

        <form action="" method="post" class="py-3">
            {{ form.hidden_tag() }}
            <div class="form-group">

              {{ form.game_name.label() }}:{{ form.game_name() }}

              <script>
                $(function() {
                  jQuery.ajax({
                        url: '{{ url_for("autocomplete") }}'
                        }).done(function (games_names){
                            $('#game_autocomplete').autocomplete({
                              source: games_names,
                              minLength: 3,
                              selectFirst: true
                            });
                        });
                    });
              </script>
            
          {% for field in form if field.name not in ['csrf_token', 'submit', 'game_name'] %}
            <div class="form-group">
              {{ field.label() }}
              {{ field() }}
              
                <p class="error text-dark text-center">
                  {% for e in field.errors %}
                    {{ e }}
                  {% endfor %}
                </p>
                
            </div>
            {% endfor %}

          {{ form.submit() }}

        </form>
      
      </div>  
    </div>
</section>
{% endblock content %}   