{% extends 'base.html' %}

{% block content %}

<section class="content container bg-light">
    <div class="row">
      <div class="col-4 border-right">

        <form action="{{url_for('meeting.submit_edit_meet')}}" method="post" class="py-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">{{ meeting_data.game_name }}</h4>
            </div>
            <div class="row mt-2">
              <div class="col"><label class="labels">{{ form.game_name.label }}{{ form.game_name(value=meeting_data.game_name) }}</div>
            </div>
            <script>
              $(function() {
                $("#game_autocomplete").autocomplete({
                  source:function(request, response) {
                    $.getJSON("{{url_for('meeting.autocomplete')}}",{
                      q: request.term,
                    }, function(data) {
                      response(data);
                    }); 
                  },
                  minLength: 2,
                  select: function(event, ui) {
                    console.log(ui.item.value);
                  }
                });
              })
            </script>
            <div class="row mt-2">
              <div class="col"><label class="labels">{{ form.number_of_players.label }}{{ form.number_of_players(value=meeting_data.number_of_players) }}</div>
            </div>
           <div class="row mt-3">
              <div class="col"><label class="labels">{{ form.meeting_place.label }}{{ form.meeting_place(value=meeting_data.meeting_place) }}</div>
            </div>
            <div class="row mt-2">  
              <div class="col"><label class="labels">{{ form.date_meeting.label }}{{ form.date_meeting(value=meet_date) }}</div>
            </div>
            <div class="row mt-2">
              <div class="col"><label class="labels">{{ form.time_meeting.label }}{{ form.time_meeting(value=meet_time) }}</div>
            </div>
            <div class="row mt-3">
              <div class="col"><label class="labels">{{ form.description.label }}{{ form.description(value=meeting_data.description) }}</div>
              <script> var textarea = document.getElementById('meet_description'); textarea.innerHTML = "{{ meeting_data.description }}" </script>
          </div>
          <div class="mt-5 text-left"> {{ form.submit() }}</div>
        </form>
      </div> 

      <div class="col-md-4 mt-3 border-right">
        <h4 class="text-left mb-3">Список подписанных</h4>
        {% for user in meeting_data.users %}
          {% if not user.confirmed %}
                <a href="#" data-toggle="modal" data-target="#ProfileModal{{user.user.username}}" class="link-primary"><h6 class="card-subtitle mb-2 text-primary">
                  {{ user.user.username }}</h6></a>
                  <form action="{{url_for('meeting.user_control')}}" class="py-3">
                    {{ form.hidden_tag() }}
                    {{ confirm_form.current_meet(value=user.id, hidden=True) }}
                    {{ confirm_form.submit_confirm() }}
                  </form>
                <!-- Modal -->
                <div class="modal fade" id="ProfileModal{{user.user.username}}" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ProfileModalLabel">Профиль {{ user.user.user_profile.name }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-2">
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.name }}</div>
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.surname }}</div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.country }}</div>
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.city }}</div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-12"><label class="labels">{{ user.user.email }}</div>
                              <div class="col-md-12"><label class="labels">{{ user.user.user_profile.favorite_games }}</div>
                              <div class="col-md-12"><label class="labels">{{ user.user.user_profile.desired_games }}</div>
                              <div class="col-md-12"><label class="labels">{{ user.user.user_profile.about_user }}</div>
                            </div>
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                          </div>
                      </div>
                      
                  </div>
                </div>

          {% endif %}
        {% endfor %}
      </div>

      <div class="col-md-4 mt-3 border-right">
        <h4 class="text-left mb-3">Список подтвержденных</h4>
        {% for user in meeting_data.users %}
          {% if user.confirmed %}
                <a href="#" data-toggle="modal" data-target="#ProfileModal{{user.user.username}}" class="link-primary"><h6 class="card-subtitle mb-2 text-primary">
                  {{ user.user.username }}</h6></a>
                  <form action="{{url_for('meeting.user_control')}}" class="py-3">
                    {{ form.hidden_tag() }}
                    {{ confirm_form.current_meet(value=user.id, hidden=True) }}
                    {{ confirm_form.submit_un_confirm() }}
                  </form>
                <!-- Modal -->
                <div class="modal fade" id="ProfileModal{{user.user.username}}" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ProfileModalLabel">Профиль {{ user.user.user_profile.name }}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-2">
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.name }}</div>
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.surname }}</div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.country }}</div>
                              <div class="col-md-6"><label class="labels">{{ user.user.user_profile.city }}</div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-12"><label class="labels">{{ user.user.email }}</div>
                              <div class="col-md-12"><label class="labels">{{ user.user.user_profile.favorite_games }}</div>
                              <div class="col-md-12"><label class="labels">{{ user.user.user_profile.desired_games }}</div>
                              <div class="col-md-12"><label class="labels">{{ user.user.user_profile.about_user }}</div>
                            </div>
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                          </div>
                      </div>
                      
                  </div>
                </div>
                
          {% endif %}
        {% endfor %}
      </div>

    </div>
</section> 
{% endblock content %}   
