{% extends 'base.html' %}

{% block content %}


<section class="content container bg-light">
  <div class="col-8">
    {% for meet in meets_list %}
    <div class="card">    
        <div class="card-body">
          <h5 class="card-title">{{ meet.game_name }}</h5>
          <a href="#" data-toggle="modal" data-target="#ProfileModal{{meet.user.id}}" class="link-primary"><h6 class="card-subtitle mb-2 text-primary">by: {{ meet.user.username }}</h6></a>
            <!-- Modal -->
            <div class="modal fade" id="ProfileModal{{meet.user.id}}" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ProfileModalLabel">Профиль {{ meet.user.user_profile.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row mt-2">
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.name }}</div>
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.surname }}</div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.country }}</div>
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.city }}</div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-12"><label class="labels">{{ current_user.email }}</div>
                      <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.favorite_games }}</div>
                      <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.desired_games }}</div>
                      <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.about_user }}</div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <p class="card-text">Ищу: {{ meet.number_of_players }}</p>
            <p class="card-text">Дата и время встречи: {{ meet.meeting_date_time }}</p>
            <p class="card-text">Инфо: {{ meet.description }}</p>
                <small>Опубликовано: {{ meet.date_create }}</small>
            </p>
        </div>
    </div>


    {% endfor %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if current_page != 1 and current_page-1 !=1 and current_page-2 !=1 %}
    <li class="page-item"><a class="page-link" href="/meets/1">1</a></li>
    {% endif %}
    {% if current_page-1 > 1 %}
    <li class="page-item"><a class="page-link" href="/meets/{{ current_page-2 }}">{{ current_page-2 }}</a></li>
    {% endif %}
    
    {% if current_page > 1 %}
    <li class="page-item"><a class="page-link" href="/meets/{{ current_page-1 }}">{{ current_page-1 }}</a></li>
    {% endif %}
    
    <li class="page-item"><a class="page-link bg-primary text-white" href="#">{{ current_page }}</a></li>
    
    {% if current_page+1 < last_page %}
    <li class="page-item"><a class="page-link" href="/meets/{{ current_page+1 }}">{{ current_page+1 }}</a></li>
    {% endif %}
    {% if current_page+2 < last_page %}
    <li class="page-item"><a class="page-link" href="/meets/{{ current_page+2 }}">{{ current_page+2 }}</a></li>
    {% endif %}
    {% if current_page != last_page %}
    <li class="page-item"><a class="page-link" href="/meets/{{ last_page }}">{{ last_page }}</a></li>
    {% endif %}
  </ul>
  </div>  
  
  </nav>

</section>

{% endblock content %}   