{% extends 'base.html' %}

{% block content %}


<section class="content container bg-light">
  <div class="col-8">
    {% for meet in meets_list %}
    <div class="card">    
        <div class="card-body">
          <h5 class="card-title">{{ meet.game_name }}</h5>
          <a href="#" data-toggle="modal" data-target="#exampleModal" class="link-primary"><h6 class="card-subtitle mb-2 text-primary">by: {{ meet.user.name }}{{ meet.user.username }}</h6></a>
            <p class="card-text">Ищу: {{ meet.number_of_players }}</p>
            <p class="card-text">Встреча состоится: {{ meet.date_meeting }} в {{ meet.time_meeting }}</p>
            <p class="card-text">Инфо: {{ meet.description }}</p>
                <small>Опубликовано: {{ meet.date_create }}</small>
            </p>
        </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.name }}</div>
          <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.surname }}</div>
      </div>
      <div class="row mt-3">
          <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.country }}</div>
          <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.city }}</div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12"><label class="labels">{{ current_user.email }}</div>
          <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.favorite_games }}</div>
          <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.desired_games }}</div>
          <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.about_user }}</div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    {% endfor %}
  </div>  


</section>

{% endblock content %}   