{% extends 'base.html' %}

{% block content %}

<section class="content container bg-light">
  <div class="col-8">
    {% for meet in meets_list %}
    <div class="card ">
        <div class="card-body col-10">
          <div class="row mt-3 ml-1">
            <h5 class="card-title">{{ meet.game_name }}</h5>
            {% if meet.game_id != None %}
              <a href="#" data-toggle="modal" data-target="#GameModal{{meet.id}}" class="link-primary ml-1"><h6 class="card-subtitle mb-2 text-primary">?</h6></a>
            {% endif %}
          </div>
          <!-- Modal -->
          <div class="modal fade" id="GameModal{{meet.id}}" tabindex="-1" role="dialog" aria-labelledby="GameModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="GameModalLabel">{{ meet.game.name }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row mt-1">
                    <div class="col-md-12"><label class="labels">Количество игроков: {{ meet.game.number_of_players }}</div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-6"><label class="labels">Возраст: {{ meet.game.age }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">{{ meet.game.description }}</div>
                </div>
                <div class="row mt-3">
                  <img src="{{ meet.game.image }}" alt="" class="img-thumbnail">
                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% if meet.user.user_profile.avatar %}
          <img class="rounded-circle" width="60px" height="60px" src={{url_for('static', filename=meet.user.user_profile.avatar) }}>
          {% endif %}
          <div class="row ml-1">
            <a href="#" data-toggle="modal" data-target="#ProfileModal{{meet.user.id}}" class="link-primary mb-2"><h6 class="card-subtitle mb-2 text-primary">by: {{ meet.user.username }}</h6></a>
          </div>

            <!-- Modal -->
            <div class="modal fade" id="ProfileModal{{meet.user.id}}" tabindex="-1" role="dialog" aria-labelledby="ProfileModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ProfileModalLabel">Профиль {{ meet.user.user_profile.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row mt-2">
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.name }}</div>
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.surname }}</div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.country }}</div>
                      <div class="col-md-6"><label class="labels">{{ meet.user.user_profile.city }}</div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-12"><label class="labels">{{ meet.user.email }}</div>
                      <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.favorite_games }}</div>
                      <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.desired_games }}</div>
                      <div class="col-md-12"><label class="labels">{{ meet.user.user_profile.about_user }}</div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <p class="card-text">Ищу: {{ meet.number_of_players }}</p>
            <p class="card-text">Дата и время встречи: {{ meet.meeting_date_time }}</p>
            <p class="card-text">Инфо: {{ meet.description }}</p>
                <small>Опубликовано: {{ meet.date_create }}</small>
            </p>
            
        </div>

        <form action="" method="post" class="pb-3 pl-3">
          {{ buttons.hidden_tag() }}

            {{ buttons.current_meet(value=meet.id, hidden=True) }}

          {% if meet.owner_id != current_user.id %}

            {% if meet not in current_user_meetings %}
              {{ buttons.submit_add_wish() }}
            {% elif meet in current_user_meetings %}
              {{ buttons.submit_del() }}
            {% endif %}

          {% else %}
            {{ buttons.submit_edit() }}
          {% endif %}

        </form>

    </div>


    {% endfor %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if current_page != 1 and current_page-1 !=1 and current_page-2 !=1 %}
        <li class="page-item"><a class="page-link" href="{{ url_for('meeting.meetings') }}?p=1">1</a></li>
        {% endif %}
        {% if current_page-1 > 1 %}
        <li class="page-item"><a class="page-link" href="{{ url_for('meeting.meetings') }}?p={{ current_page-2 }}">{{ current_page-2 }}</a></li>
        {% endif %}
        
        {% if current_page > 1 %}
        <li class="page-item"><a class="page-link" href="{{ url_for('meeting.meetings') }}?p={{ current_page-1 }}">{{ current_page-1 }}</a></li>
        {% endif %}
        
        <li class="page-item"><a class="page-link bg-primary text-white" href="{{ url_for('meeting.meetings') }}">{{ current_page }}</a></li>
        
        {% if current_page+1 < last_page %}
        <li class="page-item"><a class="page-link" href="{{ url_for('meeting.meetings') }}?p={{ current_page+1 }}">{{ current_page+1 }}</a></li>
        {% endif %}
        {% if current_page+2 < last_page %}
        <li class="page-item"><a class="page-link" href="{{ url_for('meeting.meetings') }}?p={{ current_page+2 }}">{{ current_page+2 }}</a></li>
        {% endif %}
        {% if current_page != last_page %}
        <li class="page-item"><a class="page-link" href="{{ url_for('meeting.meetings') }}?p={{ last_page }}">{{ last_page }}</a></li>
        {% endif %}
      </ul>
    </nav>

  </div> 

</section>

{% endblock content %}   