{% extends 'base.html' %}

{% block content %}


<div class="container bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ current_user.username }}</span><span class="text-black-50">{{ current_user.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <form action="{{ url_for('submit_profile') }}" method="post" class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">{{ form.name.label }}{{ form.name(value=profile_data.name) }}</div>
                    <div class="col-md-6"><label class="labels">{{ form.surname.label }}{{ form.surname(value=profile_data.surname) }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">{{ form.country.label }}{{ form.country(value=profile_data.country) }}</div>
                    <div class="col-md-6"><label class="labels">{{ form.city.label }}{{ form.city(value=profile_data.city) }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">{{ form.email.label }}{{ form.email(value=current_user.email) }}</div>
                    <div class="col-md-12"><label class="labels">{{ form.favorite_games.label }}{{ form.favorite_games(value=profile_data.favorite_games) }}</div>
                    <div class="col-md-12"><label class="labels">{{ form.desired_games.label }}{{ form.desired_games(value=profile_data.desired_games) }}</div>
                    <div class="col-md-12"><label class="labels">{{ form.about_user.label }}{{ form.about_user(value=profile_data.about_user) }}</div>
                </div>
                <div class="mt-5 text-left"> {{ form.submit() }}</div>
            </form>
        </div>
        
    </div>
</div>
{% endblock content %}   